<!DOCTYPE plasma-character >
<character spritesheet="spritesheet" is_player="true" antialiasing="true" sing_duration="4" death_character="bf-dead" icon="bf" flip_x="true" dance_steps="idle" >
    <animations>
        <animation name="idle" anim="BF idle dance" indices="" fps="24" looped="false" offsetX="0" offsetY="0" />

        <animation name="singLEFT" anim="BF NOTE LEFT0" indices="" fps="24" looped="false" offsetX="5" offsetY="-6" />
        <animation name="singDOWN" anim="BF NOTE DOWN0" indices="" fps="24" looped="false" offsetX="-20" offsetY="-51" />
        <animation name="singUP" anim="BF NOTE UP0" indices="" fps="24" looped="false" offsetX="-46" offsetY="27" />
        <animation name="singRIGHT" anim="BF NOTE RIGHT0" indices="" fps="24" looped="false" offsetX="-48" offsetY="-7" />

        <animation name="singLEFTmiss" anim="BF NOTE LEFT MISS" indices="" fps="24" looped="false" offsetX="7" offsetY="19" />
        <animation name="singDOWNmiss" anim="BF NOTE DOWN MISS" indices="" fps="24" looped="false" offsetX="-15" offsetY="-19" />
        <animation name="singUPmiss" anim="BF NOTE UP MISS" indices="" fps="24" looped="false" offsetX="-46" offsetY="27" />
        <animation name="singRIGHTmiss" anim="BF NOTE RIGHT MISS" indices="" fps="24" looped="false" offsetX="-44" offsetY="22" />

        <animation name="hey" anim="BF HEY!!" indices="" fps="24" looped="false" offsetX="-3" offsetY="5" />
        <animation name="scared" anim="BF idle shaking" indices="" fps="24" looped="true" offsetX="-4" offsetY="0" />
    </animations>

    <global_pos offsetX="0" offsetY="350" />
    <scale x="1" y="1" />
    <scroll x="1" y="1" />

    <color r="49" g="176" b="209" hex="" />

    <camera offsetX="0" offsetY="0" />
</character>