<!DOCTYPE plasma-character >
<character spritesheet="spritesheet" antialiasing="true" sing_duration="4" icon="monster-christmas" flip_x="false" dance_steps="idle" >
    <animations>
        <animation name="idle" anim="monster idle" indices="" fps="24" looped="false" offsetX="1" offsetY="0" />

        <animation name="singLEFT" anim="Monster left note" indices="" fps="24" looped="false" offsetX="-30" offsetY="0" />
        <animation name="singDOWN" anim="monster down" indices="" fps="24" looped="false" offsetX="-40" offsetY="-94" />
        <animation name="singUP" anim="monster up note" indices="" fps="24" looped="false" offsetX="-20" offsetY="50" />
        <animation name="singRIGHT" anim="Monster Right note" indices="" fps="24" looped="false" offsetX="-51" offsetY="0" />
    </animations>

    <global_pos offsetX="0" offsetY="130" />
    <scale x="1" y="1" />
    <scroll x="1" y="1" />

    <color r="243" g="255" b="110" hex="" />

    <camera offsetX="0" offsetY="0" />
</character>